[
<% for list, i in @member_issues.each_with_index -%>
    {
        "name": "<h3><%= list[1][:member] %></h3>",
        "desc": "",
        "values": [
            <% for block, j in list[1][:member].workload(@project).each_with_index -%>
            {
                "from": "/Date('<%= block[:start_date] %>')/",
                "to": "/Date('<%= block[:due_date] %>')/",
                "desc": "<%= block[:workload] %>",
                "label": "<%= block[:workload] %>",
                "customClass": "hours hours<%= hours_to_class(block[:workload]) %>",
                "dataObj": ""
            }<% unless j == list[1][:member].workload(@project).length-1 %>,<% end %>
            <% end -%>
        ]
    },
    <% for issue in list[1][:issues] -%>
    {
        "name": "<a href=\"<%= issue_path(issue) %>\">#<%= issue.id %></a> <%= issue.subject %>",
        "desc": "",
        "values": [
            {
                "from": "/Date('<%= issue.start_date %>')/",
                "to": "/Date('<%= issue.due_date %>')/",
                "desc": "<%= issue %>",
                "label": "<%= issue.workload %>",
                "customClass": "hours hours<%= hours_to_class(issue.workload) %>",
                "dataObj": {"url": "<%= issue_path(issue) %>"}
            }
        ]
    }<% unless i == @member_issues.length-1 %>,<% end %>
    <% end -%>
<% end -%>
]
