<% html_title "Workload" %>

<h2>Workload</h2>

<table cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th></th>
            <% for d in (@date_range[0]..@date_range[1]).to_a -%>
            <th><%= d.strftime('%d') %></th>
            <% end -%>
        </tr>
    </thead>
    <tbody>
        <% for id, member_issue in @member_issues -%>
            <tr class="member">
                <th><%= member_issue[:member] %></th>
                <% for d in (@date_range[0]..@date_range[1]).to_a -%>
                <td></td>
                <% end -%>
            </tr>
            <% for issue in member_issue[:issues] -%>
            <tr class="issue">
                <th>
                    <%= link_to_issue(issue) %>
                </th>
                <% for d in (@date_range[0]..@date_range[1]).to_a -%>
                <td>
                    <% if d >= issue.start_date and d <= issue.due_date %>
                    <span class="hours hours<%= issue.workload %>">&nbsp;</span>
                    <% end %>
                </td>
                <% end -%>
            </tr>
            <% end -%>
            <% end -%>
    </tbody>
</table>


<div id="legend">
    <h4>Legend :</h4>
    <ul>
        <li class="hours hours1">1</li>
        <li class="hours hours2">2</li>
        <li class="hours hours3">3</li>
        <li class="hours hours4">4</li>
        <li class="hours hours5">5</li>
        <li class="hours hours6">6</li>
        <li class="hours hours7">7</li>
        <li class="hours hours8">8</li>
        <li class="hours hours12">12</li>
        <li class="hours hours100">100</li>
    </ul>
</div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'home', :plugin => 'redmine_workload' %>
<% end %>
