<% html_title "Workload" %>

<h2>Workload</h2>

<ul class="members">
<% for id, member_issue in @member_issues -%>
    <li>
        <h3><%= member_issue[:member] %></h3>
        <ul>
            <% for issue in member_issue[:issues] -%>
            <li>
                <%= link_to_issue(issue) %>
                <span class="hours hours<%= issue.workload %>"><%= issue.workload %></span>
            </li>
            <% end -%>
        </ul>
    </li>
<% end -%>
</ul>

<div>
    <h4>Legend :</h4>
    <ul class="hours-legend">
        <li class="hours hours1">1</li>
        <li class="hours hours2">2</li>
        <li class="hours hours3">3</li>
        <li class="hours hours4">4</li>
        <li class="hours hours5">5</li>
        <li class="hours hours6">6</li>
        <li class="hours hours7">7</li>
        <li class="hours hours8">8</li>
        <li class="hours hours12">12</li>
        <li class="hours hours100">100</li>
    </ul>
</div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'home', :plugin => 'redmine_workload' %>
<% end %>
