[
<% for list, i in @member_issues.each_with_index -%>
    {
        "name": "<h3><%= list[1][:member] %></h3>",
        "desc": "",
        "values": [
                {
                    "from": "/Date('2013-04-25')/",
                    "to": "/Date('2013-04-30')/",
                    "desc": "",
                    "label": "load",
                    "customClass": "hours",
                    "dataObj": ""
                }
            ]
    },
    <% for issue in list[1][:issues] -%>
    {
        "name": "<a href=\"<%= issue_path(issue) %>\">#<%= issue.id %></a> <%= issue.subject %>",
        "desc": "",
        "values": [
                {
                    "from": "/Date('<%= issue.start_date %>')/",
                    "to": "/Date('<%= issue.due_date %>')/",
                    "desc": "<%= issue %>",
                    "label": "<%= issue.workload %>",
                    "customClass": "hours hours<%= issue.workload %>",
                    "dataObj": {"url": "<%= issue_path(issue) %>"}
                }
            ]
    }<% unless i == @member_issues.length-1 %>,<% end %>
    <% end -%>
<% end -%>
]
