[
<% last_issue = @issues.values.last.last %>
<% for user, issues in @issues.each_pair -%>
    {
        "name": "<h3><%= user %></h3>",
        "desc": "",
        "values": [
            <% last_block = user.workload(@project.id).last %>
            <% for block in user.workload(@project.id) -%>
            {
                "from": "/Date('<%= block[:start_date] %>')/",
                "to": "/Date('<%= block[:due_date] %>')/",
                "desc": "<%= block[:workload] %>",
                "label": "<%= block[:workload] %>",
                "customClass": "hours hours<%= hours_to_class(block[:workload]) %>",
                "dataObj": ""
            }<% unless block == last_block %>,<% end %>
            <% end -%>
        ]
    },
    <% issues.each do |issue| -%>
    {
        "name": "<a href=\"<%= issue_path(issue) %>\">#<%= issue.id %></a> <%= issue.subject %>",
        "desc": "",
        "values": [
            {
                "from": "/Date('<%= issue.start_date %>')/",
                "to": "/Date('<%= issue.due_date %>')/",
                "desc": "<%= issue %>",
                "label": "<%= issue.workload %>",
                "customClass": "hours hours<%= hours_to_class(issue.workload) %>",
                "dataObj": {"url": "<%= issue_path(issue) %>"}
            }
        ]
    }<% unless issue == last_issue %>,<% end %>
    <% end -%>

<% end -%>
]
